body{
  background: rgb(193, 189, 189);
  display: grid;
 place-content: center;
 min-height: 100vh;

}
.input-section{
 display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}
input{
  padding:10px 30px;
  font-size: 20px;
  color: black;
}
#submit{
    padding:10px 30px;
    background: blueviolet;
    color: black;
    font-size: 20px;
}
.delete{
  padding: 10px 15px;
  margin-left: 15px;
  background: blue;
  color: black;
}
.form{
  display: flex;
  flex-direction: column;
}
.list-item{
  padding: 0;
  border: none;
  background: transparent;
}
.list{
  margin-top: 10px;
}
ol{
  font-size: 20px;
}