*{
  margin: 0;
}

.container{
  max-width: 1500px;
  margin:  auto;
  font-size: 15px;
  margin-top: 40px;
}
.posts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.box{
  border: 2px solid gainsboro;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
img{
  max-width: 100%;
  width: 200px;
}
body{
  text-align: center;
}
button{
  padding: 10px 15px;
  background: black;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 10px;
}