*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

body{
  background-image: url(img/mountain.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
#container{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 15px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 35px 30px;
width: 85%;
}
#quote{
font-size: 30px;
color:#262626;
margin-top: 10px;
font-weight: bold;

}
#author{
font-size: 20px;
color:#fff;
margin-top: 10px;
background: #262626;
padding: 10px 12px;
border-radius: 8px;
display: inline-block;
text-align: center;
}
#btn{
  padding: 10px 12px;
  border-radius: 10px;
  background: white;
  margin-top: 20px;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}